In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from PIL import Image
from tqdm import tqdm

data_folder= 'Nancho_dataset/' # 'S05_Detection&Recognition', 'kuzushiji_morpho2_section/'  #'Nancho_dataset/', 'kuzushiji/'

unicode_translation = pd.read_csv('../data/'+'all_unicodes.csv')
df = pd.read_csv('../data/'+data_folder+'All_data_Merged.csv', keep_default_na=False)

In [8]:
print(len(unicode_translation['unicode']))
unicode_translation.head()

93868

,unicode,label,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,U+3007,〇,xxxxx,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,U+4E00,一,m,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,U+4E01,丁,mn,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,U+4E02,丂,mvs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,U+4E03,七,ju,jv,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(len(df))
df.head()

13229

   image_id       a      b      c      d true_label unicode
0        29  1324.0  202.0  140.0   96.0          以  U+4EE5
1        29  1315.0  309.0  141.0  103.0          億  U+5104
2        29  1336.0  555.0  128.0  134.0          數  U+6578
3        29  1335.0  670.0  127.0  143.0          計  U+8A08
4        29  1347.0  852.0  114.0  119.0          焉  U+7109

In [12]:
new_df= pd.DataFrame({'Unicode':df['unicode'].unique(),'Char':df['true_label'].unique()})
# new_df.to_csv('../data/'+data_folder+'unicode_translation0.csv',index=False)
#len(df['unicode'].unique())
new_df.head()

  Unicode Char
0  U+4EE5    以
1  U+5104    億
2  U+6578    數
3  U+8A08    計
4  U+7109    焉

In [14]:
#genrate classes.txt
f= open('../data/'+data_folder+"classes.txt","w+")
for i in new_df['Unicode']:
    # print(i)
    f.write(str(i)+'\n')

f.close()
print('classes.txt generated!')

classes.txt generated!